<div class="table-header">
  <h2>{{ entityName.toUpperCase() }} table</h2>
  <app-custom-dropdown [optionList]="['1', '5', '10', '15', '20']" (optionSelected)="handleTableSize($event)">
  </app-custom-dropdown>
</div>

<table class="dynamic-table">
  <thead>
    <tr>
      <th *ngFor="let header of headers" [class.clickable]="clickableHeaders.includes(header.toLowerCase())"
        (click)="clickableHeaders.includes(header.toLowerCase()) && onSort(header.toLowerCase())">
        {{ header }}
        <span *ngIf="clickableHeaders.includes(header.toLowerCase())">
          {{ direction === 'asc' ? '▲' : '▼' }}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of pageDTO?.content">
      <td *ngFor="let header of headers">{{ getValue(row, header) }}</td>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <span class="pagination__arrow pagination__arrow--first" *ngIf="pageDTO && pageDTO.currentPage > 0"
    (click)="onPageChange(pageDTO.currentPage - 1)">←</span>

  <span *ngFor="let page of getMiddleRange()">
    <ng-container *ngIf="page === '...'">
      <span class="pagination__dots">...</span>
    </ng-container>
    <ng-container *ngIf="page !== '...'">
      <span class="pagination__txt" (click)="onPageChange(page)" [ngClass]="{ 'active': page === pageDTO.currentPage }">
        {{ getDisplayableValue(page) }}
      </span>
    </ng-container>
  </span>

  <span class="pagination__arrow pagination__arrow--last"
    *ngIf="pageDTO && pageDTO.currentPage <  pageDTO.totalPages - 1"
    (click)="onPageChange(pageDTO.currentPage + 1)">→</span>
</div>