@use "../../../styles/global";
@import "../../../styles/variables";

.dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  cursor: pointer;
  font-size: $ty-body-xs;
  font-weight: 400;
  height: 30px;
  border: 1px solid $spacer_light;
  border-radius: 4px;
  background-color: $white;

  &__span {
    color: $border;
    width: 100%;
    padding: 5px;
  }

  & > .selected {
    color: $black;
  }
}

.dropdown__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $white;
  border: 1px solid $spacer_light;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  min-width: 100%;
  width: fit-content;
}

.dropdown__option {
  padding: 5px;
  cursor: pointer;
  border-radius: inherit;
  background-color: $white;
  border-bottom: 1px solid $spacer_light;
  display: flex;
  align-items: center;
  justify-content: right;
  height: inherit;

  &:hover {
    background-color: $purple;
    color: $white;
  }

  &:last-child {
    border-bottom: none;
  }
}

.txtType {
  height: 44px;
  width: 280px;
}
