<div
  class="dropdown"
  (click)="toggleDropdown()"
  [ngClass]="{ txtType: isWideDropdown }"
>
  <app-naked-button>{{ dropdownOpen ? "▲" : "▼" }}</app-naked-button>
  <span class="dropdown__span" [ngClass]="{ selected: selectedOption }">
    {{ selectedOption || "--" }}
  </span>
  <div *ngIf="dropdownOpen" class="dropdown__options">
    <div
      class="dropdown__option"
      *ngFor="let option of optionList"
      (click)="selectOption(option)"
    >
      {{ option }}
    </div>
  </div>
</div>
