.form {
  &--std {
    width: 650px;
  }

  &--m {
    width: 163px;
  }

  &--l {
    width: 450px;
  }

  display: flex;
  flex-direction: column;

  ::ng-deep > app-button {
    margin: 0 auto;
  }
}
