<app-main-layout>
  <app-header header>
    <app-naked-button
      button
      class="icon-container"
      (click)="handleNavigateToHome()"
    >
      <img src="assets/home-1-svgrepo-com.svg" alt="user-profile-svg" />
    </app-naked-button>
    <app-button (click)="handleOnLogut()" text="logout" button></app-button>
  </app-header>
  <div class="cart-body">
    <div>filters for cart</div>
    <div class="card-container">
      <app-card
        class="app-card"
        *ngFor="let article of cartPageable?.content"
        [title]="article.name"
        [firstInfo]="article.brand.name"
        optionPosition="left"
      >
        <div content-column>
          <p style="display: inline-block">Categories:</p>
          <span>{{ getCategoriesForArticle(article.name) }}</span>
        </div>

        <div content--row>
          <h4>Quantity:</h4>
        </div>
        <div content--row>
          <p>{{ article.cartQuantity }}</p>
        </div>
        <div content--row>(total: {{ article.quantity }})</div>
        <div content--row--left>
          <app-naked-button
            class="icon-container"
            (click)="handleDeleteFromCart(article)"
          >
            <img src="assets/delete-svgrepo-com.svg" alt="cart-svg" />
          </app-naked-button>
        </div>
      </app-card>
    </div>
    <div>Side panel</div>
  </div>
</app-main-layout>
