img {
  width: 25px;
  height: 25px;
  background-size: contain;
}

.icon-container {
  display: flex;
}

.cart-body {
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.9fr;
  grid-gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
