<div class="table-header">
  <h2>{{ entityName.toUpperCase() }} table</h2>

  <div class="table-header__size-selector">
    <span class="table-header__span">table size: </span>
    <app-custom-dropdown
      [optionList]="['5', '10', '15']"
      (optionSelected)="handleTableSize($event)"
      [tableSize]="pageSize"
    >
    </app-custom-dropdown>
  </div>
</div>

<table class="dynamic-table">
  <caption></caption>
  <thead class="dynamic-table__thead">
    <tr class="dynamic-table__thead__tr">
      <th
        *ngFor="let header of headers"
        [class.clickable]="clickable.includes(header.toLowerCase())"
        (click)="
          clickable.includes(header.toLowerCase()) &&
            onSort(header.toLowerCase())
        "
      >
        {{ header | capitalize }}
        <app-naked-button *ngIf="clickable.includes(header.toLowerCase())">
          {{ direction === "asc" ? "▲" : "▼" }}
        </app-naked-button>
      </th>
    </tr>
  </thead>
  <tbody class="dynamic-table__tbody">
    <tr
      *ngFor="let row of pageDTO?.content; let i = index"
      class="dynamic-table__tbody__tr"
      (mouseover)="mouseOverFn(i)"
      (mouseleave)="mouseLeave()"
    >
      <td *ngFor="let header of headers">{{ getValue(row, header) }}</td>
      <app-naked-button
        *ngIf="
          idxHovered === i &&
          isHovering &&
          entityName === 'article' &&
          userService.getRoleValue() === 'aux-depot'
        "
        class="dynamic-table__tbody__opt-button"
        (click)="onSettingsClick()"
      >
        🛠️
      </app-naked-button>
    </tr>
  </tbody>
</table>
<div class="pagination">
  <app-naked-button
    class="pagination__arrow pagination__arrow--first"
    *ngIf="pageDTO && pageDTO.currentPage > 0"
    (click)="onPageChange(pageDTO.currentPage - 1)"
    >←</app-naked-button
  >

  <span *ngFor="let page of getMiddleRange()">
    <ng-container *ngIf="page === '...'">
      <span class="pagination__dots">...</span>
    </ng-container>
    <ng-container *ngIf="page !== '...'">
      <app-naked-button
        class="pagination__txt"
        (click)="onPageChange(page)"
        [ngClass]="{ active: page === pageDTO.currentPage }"
      >
        {{ getDisplayableValue(page) }}
      </app-naked-button>
    </ng-container>
  </span>

  <app-naked-button
    class="pagination__arrow pagination__arrow--last"
    *ngIf="pageDTO && pageDTO.currentPage < pageDTO.totalPages - 1"
    (click)="onPageChange(pageDTO.currentPage + 1)"
  >
    →
  </app-naked-button>
</div>

<app-modal #modal>
  <h2 title>Add supply to: {{ selectedConent?.name }}</h2>
  <p title>Current quantity: {{ selectedConent?.quantity }}</p>
  <app-dynamic-form
    content
    [entityType]="isVisibleModal() ? 'supplyArticle' : ''"
  ></app-dynamic-form>
  <app-button button (click)="modal.closeModal()" text="Close"></app-button>
</app-modal>
