<app-main-layout>
  <app-header header>
    <app-naked-button button class="icon-container" (click)="navigateToCart()">
      <img src="assets/shopping-cart-svgrepo-com.svg" alt="cart-svg" />
    </app-naked-button>
    <app-button (click)="onLogout()" text="logout" button></app-button>
  </app-header>

  <div content class="home-container">
    <div class="home-container__header">
      <h2 class="home-container__header__title">Articles</h2>
    </div>
    <div class="home-container__body">
      <app-card
        *ngFor="let article of articles?.content"
        [title]="article.name"
        [firstInfo]="article.brand.name"
        [description]="article.description"
      >
        <div content-column>
          <p style="display: inline-block">Categories:</p>
          <span>{{ getCategoriesForArticle(article.name) }}</span>
        </div>

        <div content--row>
          <h4>Quantity:</h4>
        </div>
        <div content--row>
          <app-custom-dropdown
            [optionList]="getQuantiyForArticle(article)"
            (optionSelected)="handleSelectQuantityForArticle($event, article)"
          >
          </app-custom-dropdown>
        </div>
        <div content--row>
          <span>(total: {{ article.quantity }})</span>
        </div>

        <div option>
          <app-button
            text="Add to cart"
            [disabled]="article.quantity < 1"
            (click)="handleAddToCart(article)"
          ></app-button>
        </div>

        <div extra-info *ngIf="article.quantity < 1">
          <p>Stock will be available soon.</p>
        </div>
      </app-card>
    </div>
    <app-pagination
      (currentPage)="updateCurrentPage($event)"
      [pageDTO]="articles"
    >
    </app-pagination>
  </div>
</app-main-layout>
